{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Book site{% endblock %}</title>
</head>
<body>
    {% block body %}
    <nav>
        <ul>
            <li><a href="{% url 'index' %}#main">Main</a></li>
            <li><a href="{% url 'index' %}#about_me">About me</a></li>
            <li><a href="{% url 'index' %}#contact">Contact</a></li>
            {% if user.is_authenticated %}
                {% if cp_visits.exists %}

                    <li><a href="{% url 'reservation' %}">Reservation <span class="dot"></span></a></li>
                {% else %}
                    <li><a href="{% url 'reservation' %}">Reservation</a></li>
                    {% endif %}
            {% endif %}
            <li>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                 or <a href="{% url 'register' %}">register</a></li>
        </ul>
    </nav>
        {% block content %}
        <main>
            <section id="main">
                <p style="font-size: 2em;">
                    {% if user.is_authenticated %}
                    Welcome {{user.username}}!
                    {% else %}
                    Welcome!
                    {% endif %}
                </p><br>
                <p>My name is Krzesimir Makowski and I am a physiotherapist, if you want to <a href="{% url 'reservation' %}">book your term</a> you have to <a href="{% url 'login' %}">log in</a>.</p>
            </section>

            <section id="about_me">
                <img src="{% static 'Krzesimir Makowski.jpg' %}" alt="blank">
                <p>I am a physiotherapist ... Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum quo ducimus optio, unde illo eos, doloremque, vero ea hic nemo aspernatur dolore rem commodi nisi quod? Sequi possimus deserunt tempore!</p>
            </section>

            <section id="contact">
                <p>Tel.: +48 660 258 651</p>
                <p>e-mail: krzesimir.makowski@protonmail.com</p>
                <p>Address: 62-300 Września, ul. W. Dondajewskiego 26</p>
            </section>

        </main>
        {% endblock %}
        <footer>
            &copy Krzesimir Makowski 2022
        </footer>
    {% endblock %}
</body>
</html>