{% extends 'index.html' %}

{% block title %}Login{% endblock %}

{% block content %}
            <form action="" method="post">
                {% csrf_token %}
                {{form.email.label}}
                {{form.email}}
                {{form.password.label}}
                {{form.password}}

                {% for message in messages %}
                    <p class="message_error">{{message}}</p>
                {% endfor %}
                <input type="submit" class="form_button">
            </form>
{% endblock %}