{% extends 'index.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block main %}
<div class="single-form">
{% block header %}
    <h1>Register</h1>
    <h3>After that you can book yout visit</h3>
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{form.username.label}}
        {{form.username}}
        {{form.email.label}}
        {{form.email}}
        {{form.password1.label}}
        {{form.password1}}
        {{form.password2.label}}
        {{form.password2}}

        {% for message in messages %}
            <p class="message_error">{{message}}</p>
        {% endfor %}
        <input type="submit" class="form_button">
    </form>
    {% endblock %}
</div>
{% endblock %}
