{% extends 'index.html' %}

{% block title %}Reservation{% endblock %}

{% block content %}
    <div class="visits">
        {% for visit in visits %}
        {% if visit.User is not None %}
            {% if visit.User == request.user %}
                <div class="visit-div", style="background-color: rgb(144, 245, 93);">
                    <p>{{visit.Day | date:"d.m.o"}}, </p> <p>{{visit.Term | date:"H:i"}}, </p> <p>{{visit.Visit_length | floatformat:"-1"}}h</p>
                    <a href="{% url 'cancel' visit.Day visit.id %}">Cancel</a>
                </div>
            {% else %}
                <div class="visit-div", style="background-color: rgb(245, 93, 93);">
                    <p>{{visit.Day | date:"d.m.o"}}, </p> <p>{{visit.Term | date:"H:i"}}, </p> <p>Reserved</p>
                </div>
            {% endif %}
        {% else %}
                <div class="visit_div">
                    <p>{{visit.Day | date:"d.m.o"}}, </p> <p>{{visit.Term | date:"H:i"}}, </p> <p>Free term</p>

                </div>
        {% endif %}
        {% endfor %}
    </div>
        <form action="" method="post">
            <p>Make a reservation</p>
            {% csrf_token %}
            {{form}}
            {% for message in messages %}
                <p class="message_error">{{message}}</p>
            {% endfor %}
            <input type="submit" class="form_button">
        </form>
{% endblock %}