@font-face {
    font-family: 'lato';
    src: url('./lato/Lato-Regular.ttf') format("truetype");
}
@keyframes freeze {
    from{
        background: linear-gradient(120deg, rgb(2, 158, 220) 0%, rgba(0,0,0,1) 1%, rgb(2, 158, 220) 3%);
        
    }
    to{
        background: linear-gradient(120deg, rgb(2, 158, 220) 97%, rgba(0,0,0,1) 99%, rgb(2, 158, 220) 100%);
    }
}

*{
    font-family: 'lato';
    margin: 0%;
    padding: 0%;
}
body{
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    min-height: 86vh;
    padding: 0.5em 1em 0 1em;

}
header{
    margin: 2em;
    width: 60%;
}
nav{
    width: 30vw;
    display: flex;
    justify-content: flex-start;
}
h2,h1{
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 1em;
}
h1{
    text-transform: none;
    letter-spacing: 1px;
    margin-bottom: 0;
}
h3{
    margin: 1em 0 1em 0;
    color: #000;
}
a{
    text-decoration: underline;
    color: #000;
    text-align: center;
}
.button{
    background-color: rgb(5, 182, 252);
    width: 5.5em;
    position: relative;
    text-decoration: none;
    padding: 0.8em;
    margin-right: 1em;
}
.button::before{
    content: '';
    position: absolute;
    width: 3%;
    height: 100%;
    background: linear-gradient(90deg, rgba(2, 158, 220,0) 0%, rgba(0,0,0,1) 50%, rgba(2, 158, 220,0) 100%);
    top:0;
}
.button:hover{
    background-color: rgb(2, 158, 220);/*
    animation-name: freeze;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;*/
}
img{
    height:450px;
    position: absolute;
    bottom: 4em;
    right: 4em;
    z-index: -1;
    object-fit: cover;
}
span{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    position: static;
    margin: auto;
    width: 70%;
    height: 70%;
    z-index: 1;
}
section{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    position: relative;
    color: #fff;
}
article{
    word-break: break-all;
    width: 260px;
    height: 260px;
    padding: 1em;
}
#about-me{
    background-color: #ff5a00;
}
#offer{
    background-color: #9041ee;
}
#contact{
    background-color: #e0b40d;
}

li{
    list-style: none;
}
footer{
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0.5em 0;
}
form{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    padding: 2em;
    background-color: #e0b40d;
}
.form-image{
    position: relative;
    top: 0%;
}
input{
    margin: 0.6em;
    padding: 0.4em;
    border: none;
    font-weight: bold;
}
/*change width*/
.reservations{
    display: flex;
    margin: auto;
    width: 80vw;
    justify-content: space-between;
    align-items: center
}
.reservations h3{
    text-align: center;
}
.visits{
    display: flex;
    flex-direction: column;
}
.visit-div{
    display: flex;
    justify-content: space-around;
    width: 30vw;
    padding: 1em;
    margin: 2px;
    background-color: #9a72e6;
}
.message_error{
    color:red;
}
div a{
    margin: 0 5px 0 5px;
}
@media (min-width:1400px){
article{
    width: 400px;
    height: 300px;
}

main{
    min-height: 86vh;
    padding:  1em 20% 0 20%;

}
section{
    flex-wrap: nowrap;
}
img{
    bottom: auto;
    top: 180px;
    right: 12%;
}
}
@media (min-width: 1800px){
h1{
    font-size: 3em;
}
h3{
    font-size: 1.5em;
}
h2{
    font-size: 2em;
}
p,li,a{
    font-size: 25px;
}
img{
    top: 300px;
    right: 18%;
}
article{
    width: 400px;
    height: 330px;
}
}

@media (max-width: 950px){
section{
    width: 70%;
}
img{
    bottom:-1em;
}
}

@media (max-width: 767px){
form{
    width: 40vw;
    padding: 1em;
    margin-left: 0;
}
.visit-div{
    width: 50vw;
}
img{
    bottom: -6em;
    right: 5px;
}
.reservations{
    flex-direction: column;
}
header{
    width: 55%;
}
}
@media (max-width: 600px){
    img{
        right: 2px;
        bottom: -20em;
        width: 250px;
        object-position: -10%;
    }

    .visit-div{
        width: 70vw;
    }

header{
    width: 70%;
}
}