{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Physiotherapist{% endblock %}</title>
</head>
<body>
    <main>
        <header>
            {% block header %}
            <h1>Get rid of pain or just relax in physiotherapist salon</h1>
            {% if user.is_authenticated %}
            {% if cp_visits.exists %}
            <h3>You have a reservation</h3>
            {% else %}
            <h3>On this website you can book your visit.</h3>
            {% endif %}
            {% else %}
            <h3>On this website you can book your visit before you login.</h3>
            {% endif %}
            <nav>
            {% if user.is_authenticated %}
            <a class="button" href="{% url 'logout' %}">logout</a>
            <a class="button" href="{% url 'reservation' %}">Reservation</a>
            {% else %}
                <a class="button" href="{% url 'login' %}">login</a>
                <a class="button" href="{% url 'register' %}">register</a>
            {% endif %}
            </nav>
        {% endblock %}
    </header>
    {% block content %}
    <img src="{% static 'man.jpg' %}" alt="photo">
        <section>
            <article id="about-me">
                <span><img alt="icon" src="{% static 'user(1).png' %}" class="icon"></span>
                <h2>About me</h2>
                <p>My name is Krzesimir Makowski and I am a physiotherapist.</p>
            </article>
            <article id="offer">
                <span><img alt="icon" src="{% static 'planning.png' %}" class="icon"></span>
                <h2>Offer</h2>
                <ul>
                    <li>Stone massage</li>
                    <li>Relax massage</li>
                    <li>therapeutic massage</li>
                </ul>
            </article>
            <article id="contact">
                <span><img alt="icon" src="{% static 'telephone.png' %}" class="icon"></span>
                <h2>Contact</h2>
                <p>Tel.: +48 660 258 651</p>
                <p>E-mail: krzesimir.makowski@protonmail.com</p>
                <p>Address: 62-300 Września, <br>ul. W.Dondajewskiego 26</p>
            </article>
        </section>
        {% endblock %}
        </main>
        <footer>
            <p>&copy Krzesimir Makowski 2023</p>
            <div>
                <a href="{% url 'index' %}">Main page</a>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">logout</a>
                <a href="{% url 'reservation' %}">Reservation</a>
                {% else %}
                    <a href="{% url 'login' %}">login</a>
                    <a href="{% url 'register' %}">register</a>
                {% endif %}
            </div>
            <p>Tel.: +48 660 258 651</p>
        </footer>
</body>
</html>