{% extends 'index.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block main %}
<div class="single-form">
{% block header %}
    <h1>Login</h1>
    <h3>After that you can book yout visit</h3>
{% endblock %}
{% block content %}
        <form action="" method="post">
            {% csrf_token %}
            {{form.email.label}}
            {{form.email}}
            {{form.password.label}}
            {{form.password}}

            {% for message in messages %}
                <p class="message_error">{{message}}</p>
            {% endfor %}
            <input type="submit"/>
        </form>

        {% endblock %}
</div>
{% endblock %}
