{% extends 'index.html' %}

{% block title %}Reservation{% endblock %}

{% block header %}
    <h1>Choose term</h1>
    <h3>book your term on {{ day }} or back to the <a href="{% url 'reservation' %}">previous</a> page</h3>
{% endblock %}

{% block content %}
<div class="reservations">
    <div class="visits">
        {% for visit in visits %}
        {% if visit.User is not None %}
            {% if visit.User == request.user %}
                <div class="visit-div", style="background-color: rgb(144, 245, 93);">
                    <p>{{visit.Day | date:"d.m.o"}}, </p> <p>{{visit.Term | date:"H:i"}}, </p> <p>{{visit.Visit_length | floatformat:"-1"}}h</p>
                    <a href="{% url 'cancel' pk=visit.id %}">Cancel</a>
                </div>
            {% else %}
                <div class="visit-div", style="background-color: rgb(245, 93, 93);">
                    <p>{{visit.Day | date:"d.m.o"}}, </p> <p>{{visit.Term | date:"H:i"}}, </p> <p>Reserved</p>
                </div>
            {% endif %}
        {% else %}
                <div class="visit-div">
                    <p>{{visit.Day | date:"d.m.o"}}, </p> <p>{{visit.Term | date:"H:i"}}, </p> <p>Free </p><a href="{% url 'make_reservation' pk=visit.id %}">book</a>

                </div>
        {% endif %}
        {% endfor %}
    </div>

        {% if cp_visits.exists %}
        <div class="visits">
            <h3>Your reservations:</h3>
            {% for visit in cp_visits %}
            <div class="visit-div", style="background-color: rgb(144, 245, 93);">
                <p>{{visit.Day | date:"d.m.o"}}, </p> <p>{{visit.Term | date:"H:i"}}, </p> <p>{{visit.Visit_length | floatformat:"-1"}}h</p>
                <a href="{% url 'cancel' visit.id %}">Cancel</a>
            </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="visits">
            <h3>Here will be your reservation</h3>
        </div>
        {% endif %}
</div>
{% endblock %}